// Bien, mixin, class dung chung
$text-c1-light: #fff;
$text-c1-dark: #000;
$text-c1-success: #1ed90e;
$text-c1-danger: #fc0303;
$text-c1-secondary: #cbc9c9;
// $fz
$text-xs: 13px;
$text-base: 16px;
$text-xl: 18px;
$text-1xl: 20px;
$text-2xl: 24px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
// $fw
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

$bg-dark: #000;
$bg-primary: rgba(0, 0, 255, 0.555);

@mixin text($fz: $text-base, $fw: $text-regular, $c: $text-c1-dark) {
  font-size: $fz;
  font-weight: $fw;
  color: $c;
}   