@import "../themes/variable";

.container {
  h1 {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  hr {
    margin-bottom: 40px;
  }
  .row {
    .col-l {
      p {
        @include text($text-xl, $text-medium, rgba(0, 0, 0, 0.6));
      }
      input {
        background-color: rgba(33, 33, 33, 0.08);
      }
    }
    .col-r {
      margin-left: 220px;
      p {
        @include text($text-xl, $text-medium, rgba(0, 0, 0, 0.6));
      }
      input {
        background-color: rgba(33, 33, 33, 0.08);
      }
      .gender {
        span {
          font-size: 30px;
        }
        input {
          margin-left: 50px;
          font-size: 80px;
          height: 23px;
          width: 30px;
        
        }
        .male{
            font-size: 20px;
            transform: translateY(20);
          }
      }
      .btn {
        background-color: #6200ee;
        color: #fff;
        font-weight: 500;
        padding: 15px 40px;
        border-radius: 35px;
      }
    }
  }
}
